# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archives
*.zip
